<p>app works!</p>

<h2>Built with form group</h2>
<form [formGroup]="loginForm" (ngSubmit)="submitHandler()">

  <input type="text" formControlName="username" name="username" />
  <br>
  <input type="password" formControlName="password" name="password">
  <br>

  <button type="submit">Submit</button>
</form>

<h2>Built with form builder</h2>

<form [formGroup]="userForm" (ngSubmit)="userFormHandler()">
  <input type="text" formControlName="firstName" />

  <button type="submit">Submit</button>
</form>